.menu:hover {
    -fx-background-color:#F5F5F5;
	-fx-text-fill: black;
}
.menu .label{
    -fx-text-fill: black;
}
.menu-bar{
	-fx-background-color:#F5F5F5;
	-fx-border-width: .5;
    -fx-border-height: .5;
    -fx-border-color: #383838;
    -fx-background-radius: 2;
}